<app-head-page title="Clientes">
  <a routerLink="create" class="btn btn-primary">Novo</a>
</app-head-page>
<div class="container">
  <table class="custom-table" aria-describedby="list of clients">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Client 001</td>
        <td>01965470165</td>
        <td></td>
      </tr>
      <tr>
        <td>Client 001</td>
        <td>01965470165</td>
        <td></td>
      </tr>
      <tr>
        <td>Client 001</td>
        <td>01965470165</td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
